<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-content">
    <div class="max-width">
        <nav class="container-nav">
            <div class="logo"><i class="fas fa-car">ALBARENT</i></div>
            <div class="right-content">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>
        <!---@Html.Partial("_LoginPartial")-->
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <ul class="container">
            <li>
                <strong>Vendndodhja jone</strong>
                <p>Rruga e Barrikadave</p>
            </li>
            <li>
                <strong>Numri i telefonit</strong>
                <p>0693521765</p>
            </li>
            <li>
                <strong>Email</strong>
                <p>albarent@shitje.com</p>
            </li>
        </ul>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
