@model Projekt_Teknologji.NET.Models.Contact
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="contact">
    <h2>Location</h2>
    <div class="top">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.153103464319!2d19.81600641457006!3d41.32728400768346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350310ffc466d8b%3A0x5a0007debef988e6!2sSheshi%20Sk%C3%ABnderbej%2C%20Tirana%2C%20Shqip%C3%ABria!5e0!3m2!1ssq!2s!4v1640169746465!5m2!1ssq!2s" , width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <h2>Na kontaktoni</h2>
    <div class="bottom">
        @using (Html.BeginForm())
        {
            <div class="form-row" id="first">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Emri, new { @placeholder = "Emri", @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.TextBoxFor(m => m.Subjekti, new { @placeholder = "Subjekti", @class = "form-control" })
            </div>
            <div class="form-group col-md-12">
                @Html.TextAreaFor(m => m.Mesazhi, new { @placeholder = "Mesazhi...", @class = "form-control" })
            </div>
            <div class="form-group col-lg-12">
                <input class="btn btn-primary" type="submit" value="Dërgo mesazhin" id="submit">
            </div>
        }
    </div>
</div>